<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>853313211977-g3f7rijskqb21sog8lnkghqqojmvnlsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853313211977-g3f7rijskqb21sog8lnkghqqojmvnlsh</string>
	<key>API_KEY</key>
	<string>AIzaSyBjlYT63UD47Z4JvoXnVKjfGWcn_ujchMA</string>
	<key>GCM_SENDER_ID</key>
	<string>853313211977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cacarrilloc.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-11559</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-11559.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:853313211977:ios:012e0c5784a65145</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-11559.firebaseio.com</string>
</dict>
</plist>